header{
 
}
.header{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2.5rem;

}

.header__figure-logo{
    width: 100px;
    height: 40px;
}

.header__figure-logo img{
    width: 100%;
    height:100%;
}