
.nav {
 /* position: fixed; */
 overflow-y: scroll;
 /* overflow-x: hidden; */
 height:80vh ;
 /* scrollbar-width: 4px; */
}


::-webkit-scrollbar{
  width:4px; 
}

::-webkit-scrollbar-thumb{
  background: rgb(218, 218, 218);
  border-radius: 10px;
}

.nav__list-label{
   font-size: 0.69rem;
   font-weight: 300;
   color: #0a0a0a;
   text-transform: uppercase;
}

.nav__list-item{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
  
    list-style: none;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    /* transition-property:all;
    transition-duration: 0.2s;
    transition-timing-function: ease; */
    transition: all 0.2s ease;

    
}


.nav__list-item:hover{
  
  transform: translate(5px);
  background: var(--link-hover);
  color: var(--link-hover);
  cursor: pointer;
  border-radius: 5px;
  
}


.nav__icon{
  /* display: flex; */
  width: 20px;
  height: 20px;
}
.nav__icon span{
  display: flex;
  width: 20px;
  height: 20px;
}
